<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="imu_sensor" params="parent_link *origin">
        
        <link name="imu_link">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="0.02 0.02 0.01"/>
                </geometry>
                <material name="imu_red">
                    <color rgba="1.0 0.0 0.0 1.0"/>
                </material>
            </visual>
            
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="0.02 0.02 0.01"/>
                </geometry>
            </collision>
            
            <inertial>
                <mass value="0.015"/>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia ixx="0.00001" ixy="0.0" ixz="0.0"
                         iyy="0.00001" iyz="0.0"
                         izz="0.00001"/>
            </inertial>
        </link>

        <joint name="imu_joint" type="fixed">
            <parent link="${parent_link}"/>
            <child link="imu_link"/>
            <xacro:insert_block name="origin"/>
        </joint>

    </xacro:macro>

</robot>